---
import { getEntry, render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { ARTICLES_COLLECTION } from "../constants.ts";

// 取得 roadmap.md 資料
const roadmapEntry = await getEntry(ARTICLES_COLLECTION, "roadmap");
if (!roadmapEntry) {
    throw new Error("roadmap content not found");
}

const { Content, headings } = await render(roadmapEntry);
---

<Layout
    title={roadmapEntry.data.title}
    headings={headings}
    activeCategory="roadmap"
>
    <div class="post-card">
        <div class="post-header-row">
            <h1 id="post-title">
                {roadmapEntry.data.title}
            </h1>
        </div>

        <article class="article-body">
            <Content />
        </article>
    </div>
</Layout>
